# fastapi==0.115.0
# uvicorn==0.30.0
# python-multipart==0.0.9
# pillow==10.4.0
# numpy==1.26.4
# requests==2.32.3
# # pytesseract==0.3.10
# openai==1.52.0

fastapi
uvicorn
python-multipart
pillow
openai